capstone==4.0.2
emojis==0.6.0
joblib==1.0.1
numpy==1.17.4
olefile==0.46
oletools==0.56.1
pandas==1.2.3
pefile==2019.4.18
pycryptodome==3.10.1
pypattyrn==1.2
pypattyrn==1.2
PyYAML==5.4.1
qiling==1.2.3
rpyc==5.0.1
schedule==1.1.0
scikit_learn==0.24.1
scipy==1.6.2
vt-py==0.6.1
