aiohttp==3.7.3
async-timeout==3.0.1
attrs==20.3.0
capstone==4.0.1
chardet==3.0.4
click==7.1.2
emojis==0.6.0
enum-compat==0.0.3
Flask==1.1.2
future==0.18.2
gevent==21.1.2
greenlet==1.0.0
idna==3.1
isort==5.7.0
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==1.0.1
keystone-engine==0.9.2
MarkupSafe==1.1.1
multidict==5.1.0
numpy==1.20.1
pandas==1.2.2
pefile==2019.4.18
plumbum==1.7.0
pycryptodome==3.10.1
pyelftools==0.27
pymongo==3.11.0
pypattyrn==1.2
python-dateutil==2.8.1
python-registry==1.3.1
pytz==2021.1
PyYAML==5.3.1
qiling==1.2.2
riposte==0.4.1
rpyc==4.1.5
scikit-learn==0.24.1
scipy==1.6.0
six==1.15.0
sklearn==0.0
threadpoolctl==2.1.0
tqdm==4.54.1
typing-extensions==3.7.4.3
unicodecsv==0.14.1
unicorn==1.0.2
vt-py==0.6.1
Werkzeug==1.0.1
yarl==1.6.3
zope.event==4.5.0
zope.interface==5.2.0