numpy==1.17.4
olefile==0.46
capstone==4.0.2
emojis==0.6.0
Flask==1.1.2
flask_cors==3.0.10
joblib==1.0.1
mydocstring==0.2.7
oletools==0.56.1
pandas==1.2.3
pefile==2019.4.18
protobuf==3.15.7
pycryptodome==3.10.1
pypattyrn==1.2
qiling==1.2.3
riposte==0.4.1
rpyc==5.0.1
schedule==1.0.0
scikit_learn==0.24.1
scipy==1.6.2
tabulate==0.8.9
vt==3.1.3.7
